body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('pexels-codioful-7130560.jpg') no-repeat center center fixed;
}

.container {
    background-color: white; /* Set background color of container to white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

.form-container {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Place the image above the form */
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left:320px;
    margin-top:170px;
}