.navbar {
    background-color: #f5f5f5;
    border-right: 1px solid #e5e5e5;
    padding: 1.5rem;
    height: 100%;
    width: 200px;
    transition: width 0.3s ease-in-out;
  }
  
  .navbar.collapsed {
    width: 60px;
  }
  
  .navbar.collapsed .nav-link span {
    display: none;
  }
  
  .nav.flex-column .nav-link {
    padding-left: 0;
  }